{% assign AppStatus = true %}
{% if AppStatus %}
<input type='hidden' id='appify_cc_position' value='1' /><style>#appify-cookie-bar{-webkit-animation: slide-down .7s ease-out;-moz-animation: slide-down .7s ease-out;}@-webkit-keyframes slide-down {0% { opacity: 0; -webkit-transform: translateY(-100%); }100% { opacity: 1; -webkit-transform: translateY(0); }}@-moz-keyframes slide-down {0% { opacity: 0; -moz-transform: translateY(-100%); }100% { opacity: 1; -moz-transform: translateY(0); }}</style><div id="appify-cookie-bar" style='padding:8px 10px;width:100%;display: none;position: fixed;top:auto !important;bottom: 0px;z-index: 999999999;background-color:#050101;color:#ffffff;'>
       <div style="display:inline;VERTICAL-ALIGN: sub;">
                This website uses cookies to ensure you get the best experience on our website<a target="_blank" style="margin: 15px; color:#ffffff!important; " id="policylink" href="https://en.wikipedia.org/wiki/HTTP_cookie">More</a>
        </div>
        <button id="appifyCookie" style='color:#000000;background-color:#ffffff;border: 2px solid #000000;border-radius:1px;min-height:34px;height: 34px;float: right;margin-right: 30px;'onclick="appifyAcceptCookies(1);">
            <span>Accept</span>
        </button>
        </div><script src='https://shop.formelife.com/apps/appifycc/js/rcc.js' type='text/javascript'></script>

{% endif %}

